@use "../../utilities.module" as *;
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15%;
  background-color: $p;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  img {
    object-fit: contain;
  }

  .banner {
    width: 100%;
    background-color: $w;
    padding: 5%;
    border-radius: 6px;
    .text {
      flex-direction: column;
      width: 48%;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      h3 {
        font-size: 1.5rem;
      }
      h1 {
        color: $p;
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 50% 10%;
    .banner {
      .text {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}
