@use "../../../utilities.module" as *;
.spinner {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  min-height: 100vh;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 999999999999;
  flex-direction: column !important;
  background-color: cwo($w, 0.9);

  backdrop-filter: blur(2px);
  color: $w;
  gap: 20px;
  .img {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;

    background-color: $w;
    img {
      object-fit: cover !important;
      height: 100%;
      width: 100%;
    }
  }
  .svgfile {
    width: 41px;
    height: 38px;
    background-color: $w;
    scale: 1.5;
    path {
      fill: $p;
      stroke: $p;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      @include animate(drawLine, 2s, ease-out, 0s, infinite, normal);
    }
  }
  .error {
    width: 80%;
    color: $r;
    text-align: center;
  }
}
