@use "../../../utilities.module" as *;
.controllers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 12px 0px;
  padding: 6px 5%;
  position: relative;
  border-radius: 12px;
  background-color: $bg;
  border: 1px solid cwo($a, 0.2);
  color: $t;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .pages {
    z-index: 50;
    flex-direction: row !important;
    span {
      width: 30px;
      height: 30px;
      border: 1px solid cwo($a, 0.5);
      color: $p;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .hide {
    display: none;
  }
  .movers {
    position: absolute;
    width: 95%;
    justify-content: space-between;
    flex-direction: row !important;
    span {
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .controllers {
    padding: 6px;
    .pages {
      gap: 2.5px;
      span {
        font-size: 0.8rem;
        height: 25px;
        width: 25px;
      }
    }
    .movers {
      width: 100%;
    }
  }
}
