@use "../../utilities.module" as *;
.box {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  font-family: var(--normal);
  justify-content: center;
  min-height: 100vh;

  > div {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.2rem;
    }
  }
  font-size: 0.9rem;

  flex-direction: column;
  position: relative;

  input,
  textarea,
  select {
    background-color: transparent;
    border: 1px solid $t2;

    font-family: inherit;
    padding: 3px 6px;
    outline: none;
    height: 50px;
    color: inherit;
    font-size: 1rem;
    &::placeholder {
      color: inherit;
      opacity: 0.8;
    }
    &:focus {
      border-bottom: 2px solid $t2;
    }
  }
  textarea {
    height: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 24px;

    background: $bg;
    border-bottom: 4px solid $p;
    > * {
      width: 100%;
    }
    div {
      display: flex;
      align-items: center;

      flex-wrap: wrap;
      justify-content: space-between;
    }
    button {
      margin-top: 30px;
      width: 100%;
      height: 50px;
    }
  }
  .top {
    flex-direction: column;
    height: 20vh;
    width: 100%;
    justify-content: flex-start;

    background: $p;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $w;
    }
    > div {
      width: 100%;
    }

    .first {
      width: 100%;

      padding: 1.5% 5%;
      justify-content: space-between;

      height: 25%;

      .logo {
        height: 40px;
        aspect-ratio: 3/2;

        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        img {
          object-fit: cover;
        }
      }
    }
    .price {
      height: 30%;
      background: linear-gradient(to top, $bg, $bg2);
    }
    .last {
      height: 45%;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0%;
      gap: 10px;

      a,
      button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        background-color: $a3;

        font-size: 0.85rem;
        color: $w;

        transition: 0.75s;
        &:hover {
          background-color: $w;
          color: $p;
        }
      }
      button {
        border-radius: 0;
        background: $r;
        color: $w;
      }
    }
  }

  .center {
    display: block;
    position: relative;
    z-index: 1;

    width: 100%;
    color: $t;
    min-height: 100vh !important;
    background: $bg2;

    .children {
      display: block;
      width: 100%;
      position: relative;
      z-index: 2;

      padding: 22vh 5% 12vh;
      h1 {
        font-size: 2rem;
        font-weight: 900;

        color: $p;
      }

      img {
        object-fit: contain;
      }
    }
  }
  .bottom {
    height: 10vh;
    padding: 6px 5%;
    justify-content: space-between;

    gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    background: $w;
    border-top: 1px solid cwo($p, 0.1);

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      transition: 0.75s;
      height: 100%;

      font-size: 0.8rem;
      color: $p;

      .icon {
        font-size: 1.5rem;
      }
      &:hover {
        color: $a3;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .box {
    .top {
      height: 25vh;
      gap: 0px;
      font-size: 0.8rem;

      .first {
        gap: 10px;
        height: 25%;
        justify-content: space-between;
        > :last-child {
          display: none;
        }

        h1 {
          font-size: 0.9rem;
          text-align: right;
        }
      }
      .price {
        height: 28%;
      }
      .last {
        height: 47%;

        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 6px;

        width: 100%;

        a,
        button {
          height: 50%;
          padding: 10px;
          margin: 0;
          // flex: unset;
          min-width: 20%;
          font-weight: 600;
          font-size: 0.7rem;
        }
      }
    }
    .center {
      .children {
        padding: 29vh 5% 9vh;
        h1 {
          font-size: 1.2rem;
          margin: 0;
          padding: 0;
        }
      }
      .effect,
      .effect2 {
        height: 200px;
        width: 200px;
      }
      .effect {
        height: 300px;
        right: 70vw;
      }
    }
    .bottom {
      gap: 5px;
      padding-left: 0;
      padding-right: 60px;
      height: 5vh;
      a {
        font-size: 0.6rem;
        flex: 1;
        overflow: hidden;

        .icon {
          font-size: 1.4rem;
        }
      }
    }
  }
}
