@use "../../../utilities.module" as *;
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;

  .video,
  .image {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    img {
      object-fit: cover;
    }
  }

  > :first-child {
    font-size: 1.5rem;
  }
}

.box {
  position: relative;
  justify-content: center;
  align-items: center;
  &:hover {
    .text {
      opacity: 1;
    }
  }
  .text {
    position: absolute !important;

    z-index: 3;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $a3;
    transition: 0.5s;
    scale: 0.95;
    gap: 20px;
    padding: 12px;
    opacity: 0;
    font-size: 0.9rem;
    > :first-child {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .box {
    gap: 0px;
    flex-direction: column-reverse;

    .image {
      width: 100%;
      height: 30vh;
    }
    .landscape {
      height: 20vh;
    }
    .portrait {
      height: 40vh;
    }
    .text {
      position: relative !important;
      opacity: 1;
      height: unset;
      width: 100%;
      scale: 1;
    }
  }
}
