.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100vw;
  padding: 10vh 5%;

  * {
    margin: 0;
  }
  .video {
    width: 70%;
    height: 75vh;

    object-fit: contain;
  }
  p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 10% 5%;
    .video {
      height: 26vh;
      width: 100%;
    }
  }
}
